<%= javascript_include_tag  'application' %>
<%= javascript_include_tag  'https://code.jquery.com/jquery-1.11.3.min.js' %>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<%#= analytics_code 'UA-XXXXX-X', 'yourdomain.com' %>
</body>
</html>
