@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bv\/Documents\/projects\/photography\/source\/css\/ui\/photos\.scss}line{font-family:\000037}}
.article-list {
  display: block;
  width: 100%;
  font-size: 0; }

/**
 * Photo
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bv\/Documents\/projects\/photography\/source\/css\/ui\/photos\.scss}line{font-family:\0000316}}
.photo {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
  height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bv\/Documents\/projects\/photography\/source\/css\/ui\/photos\.scss}line{font-family:\0000321}}
  .photo h3 {
    padding: 8% 10% 20% 10%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bv\/Documents\/projects\/photography\/source\/css\/ui\/photos\.scss}line{font-family:\0000325}}
  .photo img {
    width: 100%; }
  @media (min-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bv\/Documents\/projects\/photography\/source\/css\/ui\/photos\.scss}line{font-family:\0000316}}
    .photo {
      width: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bv\/Documents\/projects\/photography\/source\/css\/ui\/photos\.scss}line{font-family:\0000332}}
      .photo h3 {
        display: none; } }
  @media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bv\/Documents\/projects\/photography\/source\/css\/ui\/photos\.scss}line{font-family:\0000316}}
    .photo {
      width: 33.333333%; } }
  @media (min-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bv\/Documents\/projects\/photography\/source\/css\/ui\/photos\.scss}line{font-family:\0000316}}
    .photo {
      width: 25%;
      opacity: .8;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; } }
  @media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bv\/Documents\/projects\/photography\/source\/css\/ui\/photos\.scss}line{font-family:\0000316}}
    .photo {
      width: 20%; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bv\/Documents\/projects\/photography\/source\/css\/ui\/photos\.scss}line{font-family:\0000353}}
.photo:hover {
  opacity: 1; }
