// Photo list

@import "../libs/at-break";
@import "../libs/mixins";
@import "../vars";

.article-list{
  display: block;
  width: 100%;
  font-size: 0;
}

/**
 * Photo
 */
.photo{
  @include inline-block;
  width: 100%;
  height: auto;

  h3{
    padding: 8% 10% 20% 10%;
  }

  img{
    width: 100%;
  }

  @include at-xsmall{
    width: 50%;

    h3{
      display: none;
    }
  }

  @include at-small{
    width: 33.333333%;
  }

  @include at-medium{
    width: 25%;
    opacity: .8;
    @include vendor(transition, all .5s);
  }

  @include at-large{
    width: 20%;
  }
}

// Photo Hover
.photo:hover{
  opacity: 1;
}